
  .container.active {
    background-color: darkcyan;
    color: white;
  }
  .container.active a {
    color: white;
  }
  .container.active .links a:nth-child(2) {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0px 10px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    gap: 70px;
  }
  .header img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 3px solid #e3a63a;
  }
  
  .header h1 {
    font-size: 100px;
    font-weight: 550;
    font-family: serif;
  }
  .header-info h5 {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .header p {
    line-height: 20px;
    width: 435px;
    letter-spacing: 1.5px;
  }
  
  .links-2 {
    display: flex;
    gap: 20px;
  }
  .links-2 div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    font-weight: bold;
    font-size: 22px;
    background-color: white;
  }
  .links-2 div {
    background-color: #e3a63a;
  }
  .links-2 a:nth-child(2) div {
    background-color: #eb4e36;
  }
  .links-2 a:nth-child(3) div {
    background-color: #95d6d9;
  }
  .links-2 a:hover div {
    background-color: white;
    transition: all 0.5s ease;
  }
  
  .container.active .links-2 a:hover div {
    color: black;
  }
  .icon i {
    font-size: 22px;
  }
  .mysite {
    margin-top: 10px;
    font-weight: 50;
  }
  #wix {
    width: 180px;
    font-size: 18px;
  }

  /* Media  */
  
  @media (max-width: 992px) {
    .container {
      width: 100%;
    }
    .header {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 768px) {
    .logo {
      margin: 0 auto;
    }
    .links {
      display: none;
    }
    .header {
      display: flex;
      flex-wrap: wrap;
    }
    .header img {
      width: 300px;
      height: 300px;
      margin: 0 auto;
    }
    .header-info {
      display: flex;
      flex-direction: column;
    }
  
    .header-info h1,
    h4 {
      margin: 0 auto;
    }
  
    .header-info p {
      margin-left: 20px;
    }
    .links-2 div {
      margin-left: 10px;
      width: 120px;
      height: 120px;
    }
  
  }
  @media (max-width: 447px) {
    .header {
      display: flex;
      flex-direction: column;
    }
    .header img {
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }
  
    .header-info h1 {
      display: flex;
      flex-direction: column;
      margin-left: 80px;
      display: inline-block;
    }
  
    .header-info h4 {
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .header-info p {
      text-align: justify;
      line-height: 25px;
      width: 350px;
    }
    .links-2 {
      gap: 0px;
    }
  
    .links-2 a div {
      width: 120px;
      height: 120px;
    }
  }
  